p {
  font-family: Lato;
}


top-bar, bottom-bar{
  width:100%;
  background: rgb(2, 94, 199);
  position: fixed;
  
}
top-bar{
  top: 0 !important
}
 bottom-bar{

  bottom: 0 !important
 }